:root {
  --mg-orange-dark-rgb: 231, 60, 0;
  --mg-orange-light-rgb: 212, 93, 53;
  --theme-secondary-rgb: 32, 164, 230;
  --mg-orange-dark: rgba(var(--mg-orange-dark-rgb), 1);
  --mg-orange-light: rgba(var(--mg-orange-light-rgb), 1);
  --theme-secondary: rgba(var(--theme-secondary-rgb), 1);
}

[data-bs-theme="light"] {
  --mg-orange-primary: var(--mg-orange-dark);
  --mg-orange-primary-rgb: var(--mg-orange-dark-rgb);
  --mg-orange-secondary: var(--mg-orange-light);
  --mg-orange-secondary-rgb: var(--mg-orange-light-rgb);

  --bs-link-color-rgb: var(--mg-orange-dark-rgb);
  --bs-link-hover-color-rgb: var(--mg-orange-light-rgb);
}

[data-bs-theme="dark"] {
  --mg-orange-primary: var(--mg-orange-light);
  --mg-orange-primary-rgb: var(--mg-orange-light-rgb);
  --mg-orange-secondary: var(--mg-orange-dark);
  --mg-orange-secondary-rgb: var(--mg-orange-dark-rgb);

  --bs-link-color-rgb: var(--mg-orange-light-rgb);
  --bs-link-hover-color-rgb: var(--mg-orange-dark-rgb);
}

h1 {
  margin-bottom: 1.5rem;
}

#affix ul li a.active,
#affix a.active {
  color: #d45d35;
  font-weight: bold;
  border-left: 2px solid #d45d35;
  padding-left: 0.3rem;
  transition: all 0.2s ease-in-out;
}

.video {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.actionbar {
  min-height: 3rem;
}

.navbar-brand img {
  height: 2rem;
  width: auto;
  margin-right: 0.5rem;
}

#search-results>.sr-items .sr-item>.item-href {
  color: var(--theme-secondary);
}

/*******************************************************************************
*** Section: Generated Details (from ??? syntax)
*******************************************************************************/

details.generated-details {
  border: 0.075rem solid var(--mg-orange-primary);
  border-radius: 0.2rem;
  margin: 1rem 0;
  background-color: var(--bs-body-bg);
  transition: box-shadow 0.2s ease;
}

details.generated-details:focus-within {
  box-shadow: 0 0 0 0.2rem rgba(var(--mg-orange-secondary-rgb), 0.25);
}

details.generated-details > summary {
  list-style: none;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center; 
  gap: 1rem;
  padding: 0.5rem 1rem;
  margin: 0;
  background-color: var(--mg-orange-primary);
  color: #fff;
  outline: none;
}

/* Hide default marker for webkit */
details.generated-details > summary::-webkit-details-marker {
  display: none;
}

details.generated-details > div {
  padding: 1rem;
  background-color: rgba(var(--mg-orange-primary-rgb), 0.4) !important;
}

details.generated-details > summary::before {
  font-family: bootstrap-icons;
  color: #fff;
  font-size: 1.2rem;
}

details.generated-details.details-question > summary::before {
  content: "\F505";
}

details.generated-details.details-note > summary::before {
  content: "\F431";
}

details.generated-details > summary::after {
  content: "\F285";
  font-family: bootstrap-icons;
  color: #fff;
  margin-left: auto; /* Push to right */
  flex-shrink: 0;
  transition: transform 0.2s ease;
}

details.generated-details[open] > summary::after {
  transform: rotate(90deg);
}
